body {
  margin: 0;
  font-family:'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove ad banner (project is deployed to freehosting) */
body > div:not(#root) {
  display: none;
}
